---
const currentYear = new Date().getFullYear();
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {currentYear} MountainAsh. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    MountainAsh - Innovative CCR Data Solutions
  </p>
  <div class="flex justify-center mt-2">
    <a href={import.meta.env.BASE_URL + "/contact"} class="text-sm text-blue-500 hover:underline mx-2">Contact</a>
    <a href={import.meta.env.BASE_URL + "/about"} class="text-sm text-blue-500 hover:underline mx-2">About</a>
    <a href={import.meta.env.BASE_URL + "/pricing"} class="text-sm text-blue-500 hover:underline mx-2">Product Options</a>
  </div>
  <p class="text-center text-xs text-slate-500 mt-4">
    hello@mountainash.io
  </p>
</footer>